<h2>Acerca de nosotros </h2>
<ind-post>
    <ng-container class="titulo">
        Esta es la primera noticia
    </ng-container>
    <p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est illo praesentium asperiores laborum iure ipsa, quisquam nihil odit quae vero nostrum, dolorum fuga eaque cum! Laudantium illo ea dignissimos quam!</p>
</ind-post>
<ind-post>
    <ng-container class="titulo">
        Esta es la segunda noticia
    </ng-container>
    <ng-container class="contenido">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem inventore natus ipsum quia! Dignissimos quod quaerat ut quae fugiat omnis aliquid ratione tempora tenetur harum, voluptatum, amet obcaecati vero unde?</p>
        <p>Impedit cumque, velit optio minima cum modi atque? Atque porro placeat asperiores rem id laboriosam voluptas voluptates consectetur? Ea aspernatur voluptas fugiat reprehenderit laborum velit placeat, officiis dolores quia id!</p>
        <p>Ducimus modi adipisci, minima inventore est alias quos deleniti libero amet rerum expedita beatae velit tempora odit temporibus, assumenda aspernatur magni porro quisquam quo officia cumque. Quas minima exercitationem impedit!</p>
    </ng-container>
</ind-post>
<ngb-carousel *ngIf="imagenes.length">
    <ng-template ngbSlide *ngFor="let item of imagenes">
        <div class="picsum-img-wrapper">
          <img [src]="item.imagen" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ item.titulo | truncar : 10 }}</h3>
          <p> {{ item.texto | truncar : 20 }}</p>
        </div>
    </ng-template>
</ngb-carousel>